span{
    color: red;
}

h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background-color: hsl(35, 100%, 50%);
}

button{
    border-radius: 15px 15px;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
}

input{
     border-radius: 5px,5px;
     text-align: center;
     border: 2px solid rgb(11, 6, 0);
}
#container{
    text-align: center;
}

#instructions{
    display: container;
   width:100%;
   background-color: #f1eb97;
    margin-top: 10em;
    padding: 40px 0 40px 0;
}
li{
    padding-bottom: 10px;
}